<template>
  <div class="select">
    <label class="label-acc">Account category</label>
    <VueSelect
      ref="muselect"
      v-model="currentValues"
      :closeOnSelect="closed"
      :options="options"
      placeholder="Type to search or choose from menu"
      @select="onSelectedElement($event)"
      @remove="onRemoveElement($event)"
      :searchable="search"
      selectLabel=""
      name="text"
      multiple
      tagPosition="bottom"
      @open="onOpen"
      @close="onClose"
      :height="56"
      :option-height="56"
    >

      <li slot="beforeList">
        <div @click="removeElement($event, 0)" v-if="currentValues && currentValues[0]" class="text-container">
          <span class="option__title text text-value">{{currentValues[0]}}</span>
          <img class="circle" src="../assets/Group.png">
        </div>
        <div @click="removeElement($event, 1)" v-if="currentValues && currentValues[1]" class="text-container">
          <span class="option__title text text-value-2">{{currentValues[1]}}</span>
          <img class="circle" src="../assets/Group.png">
        </div>
        <div @click="removeElement($event, 2)" v-if="currentValues && currentValues[2]" class="text-container">
          <span class="option__title text text-value-3">{{currentValues[2]}}</span>
          <img class="circle" src="../assets/Group.png">
        </div>
      </li>
      <template slot="tag" slot-scope="{ option, remove }">
        <span class="custom__tag tag">
          <span>{{ option }}</span>
          <span class="custom__remove tag-remove" @click="remove(option)">❌</span>
        </span>
      </template>

      <template slot="option" slot-scope="props">
        <div class="option__desc text-option">
          <span class="option__title text"
                :class="{
                  'text-value-option-2': currentValues && currentValues[0],
                  'text-value-option-3': currentValues && currentValues[1],
                 }">{{ props.option }}</span>
          <img class="circle-option" src="../assets/ellipse.png">
        </div>
      </template>
      <span class="not-found-container" slot="noResult">
        <h6 class="text-clear text">Oops, nothing found</h6>
        <h6 @click="cleanAll" class="btn-clear text">clear entry</h6>
      </span>

    </VueSelect>
    <h6 :class="{
      'text-after': !this.error,
      'text-after-error': this.error
    }">{{!this.error ? "E.g. makeup artist, marketing agency, etc." : "Please select a valid account category"}}</h6>
  </div>
</template>

<script>
  import VueSelect from 'vue-multiselect'

  export default {
    name: 'MultiSelect',
    props: {
      data: Array,
      selected: Array,
    },
    components: {
      VueSelect
    },

    data() {
      return {
        closed: false,
        closedWord: 'Other',
        currentValues: [],
        options: this.getOptions(),
        search: true,
        error: false,
      }
    },

    methods: {
      onSelectedElement(nextValue) {
        this.options = this.getOptions({ nextValue });
      },

      removeElement(event, element) {
        const { currentValues } = this;
        currentValues.splice(element, 1);
        this.currentValues =  currentValues;
        this.options = this.getOptions();
      },

      onOpen() {
        if (this.currentValues.length === 3 || this.currentValues.includes(this.closedWord) || this.error === true) {
          this.$refs.muselect.$el.blur();
        }
      },

      cleanAll() {
        this.onClose('clean');
        this.$children[0].search = '';
        this.error = false;
      },

      onRemoveElement(deletedValue) {
        this.error = false;
        this.options = this.getOptions({ deletedValue })
      },

      getInitialOptions() {
        this.search = true;
        return this.data.map(el => el.category)
      },

      getOptionsWithClosedWord(options) {
        return [...options, this.closedWord]
      },

      onClose(event = '') {
        if (event === 'clean') {
          this.currentValues = [];
          this.error = false;
          return
        }
        if (!this.currentValues.length && document.getElementsByName('text')[0] && document.getElementsByName('text')[0]) {
          const {value: errorWord} = document.getElementsByName('text')[0];
          if(errorWord && !this.options.includes(errorWord[0].toUpperCase() + errorWord.slice(1))){
            this.currentValues.push(errorWord);
            this.error = true;
          }
          this.search = false;
          return;
        }
      },

      getOptions({ deletedValue, nextValue } = {}) {
        const { currentValues: selected, data } = this;
        if (nextValue && nextValue === this.closedWord) {
          this.closed = true;
          if (this.$refs.muselect.$el) {
            this.$refs.muselect.$el.blur();
          }
          return [];
        }

        this.closed = false;

        if (((!selected || !selected.length) && !nextValue) || (selected.length === 1 && deletedValue)) {
          return this.getInitialOptions()
        }

        if (!selected.length && nextValue) {
          this.search = false;
          this.$children[0].search = '';
          if (this.$refs.muselect.$el) {
            this.$refs.muselect.$el.focus();
          }
          return this.getOptionsWithClosedWord(Object.keys(data.find(el => el.category === nextValue).subcategories))
        }

        if (selected.length === 2 && deletedValue) {
          return this.getOptionsWithClosedWord(Object.keys(data.find(el => el.category === selected[0]).subcategories))
        }

        if (selected.length === 3 && deletedValue) {
          return this.getOptionsWithClosedWord(data.find(el => el.category === selected[0]).subcategories[selected[1]]);
        }

        if (selected.length === 1 && nextValue) {
          this.closed = true;
          return this.getOptionsWithClosedWord(data.find(el => el.category === selected[0]).subcategories[nextValue]);
        }

        if(selected.length === 1) {
          return  this.getOptionsWithClosedWord(Object.keys(data.find(el => el.category === selected[0]).subcategories))
        }

        if (this.$refs.muselect.$el) {
          this.$refs.muselect.$el.blur();
        }
        return []
      }
    },
  }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

  >>> .multiselect__placeholder{
    margin-bottom: 0;
    margin-left: 6px;
  }

  >>> .multiselect__input {
    margin-bottom: 0;
  }

  >>> .multiselect__option--highlight {
    color: black;
    background: #ffffff;
  }

  >>> .multiselect__option {
    padding-top: 16px;
  }

  >>> .multiselect__content-wrapper {
    border-color: #C0CDD3;
  }

  >>> .multiselect__tags, multiselect {
    height: 56px;
  }

  >>> .multiselect__select {
    /*transform: rotate(90deg);*/
    background-image: url("../assets/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5px;
    width: 9px;
    /* max-width: 9px; */
    min-width: auto;
    padding: 0px;
    font-size: 9px;
    right: 15px;
    top: 25px;

  }

  >>> .multiselect__select:before {
    content: "";
    border-width: 0px;
  }

  .label-acc {
    position: absolute;
    left: 15px;
    top: 2px;
    z-index: 51;
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 17px;
  }

  >>> .multiselect__tags {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    border: 1px solid #C0CDD3;
    box-sizing: border-box;
  }

  >>> .multiselect__element {
    height: 56px;
    border-bottom: 1px solid #C0CDD3;
  }

  >>> .multiselect__element:nth-last-child(3) {
    border-bottom: none;
  }

  .select {
    margin-left: 20px;
    width: 401px;
    position: relative;
  }

  .text-container:hover {
    background: #ffffff !important;
  }

  .tag {
    background: #5C94FE;
    border-radius: 10px;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .text-after {
    margin-top: 0;
    text-align: left;
    margin-left: 7px;
    font-family: Proxima Nova;
  }

  .text-after-error {
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    margin-left: 7px;
    color: #EF3F61;
  }

  .text-value {
    padding-left: 15px;
  }

  .text-value-2 {
    padding-left: 35px;
  }

  .text-value-3 {
    padding-left: 55px;
  }

  .text-value-option-2 {
    padding-left: 23px;
  }

  .text-value-option-3 {
    padding-left: 43px;
  }

  .circle {
    padding-right: 12px;
  }

  .text {
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 24px;
  }

  .btn-clear {
    color: #5C94FE;
    margin: 0;
    align-self: center;
  }

  .text-clear {
    margin: 0;
    align-self: center;
  }

  .not-found-container {
    display: flex;
    justify-content: space-between;
  }

  .text-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tag-remove {
    padding-left: 5px;
  }

  .text-container {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    font-family: Proxima Nova;
    font-size: 12px;
    line-height: 17px;
    border-bottom: 1px solid #C0CDD3;
    box-sizing: border-box;
  }
</style>
