<template>
  <div id="app">
    <MultiSelect :data="dataForSelect" :selected="selected" @updateSelected="updateSelected" />
  </div>
</template>

<script>
  import MultiSelect from './components/MultiSelect.vue'

  export default {
    name: 'app',
    data() {
      return {
        dataForSelect: [
          {
            category: 'Text',
            subcategories: {
              'Message': ['message1', 'message2'],
              'Voice': ['voice1', 'voice2']
            }
          },
          {
            category: 'Lel',
            subcategories: {
              'Lel1': ['lel1', 'lel12'],
              'Lel2': ['lel2', 'lel22']
            }
          }
        ],
        selected: []
      }
    },
    methods: {
      updateSelected(variable) {
        this.selected.push(variable);
      }
    },
    components: {
      MultiSelect,
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
